= month_calendar(events: @events) do |date, events|
  .date
    = "%i.%i." % [date.day, date.month]
  - events.each do |event|
    .event{style: "background-color: ##{color_for event.event_source}"}
      = event.title
